@charset "utf-8";

/**
 * accent-color: #3a8fb7
 */

html {
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 0%);
}

.nav__link:hover {
  color: #3a8fb7;
}

.nav__link:active {
  background: #f3f3f3;
}

.board__repo-list {
  background: #fbfbfb;
  border: 1px solid #dfdfdf;
}

.board__lang-box:not(:last-of-type) .board__link {
  border-bottom: 1px solid #dfdfdf;
}

.board__link:hover {
  color: #3a8fb7;
}

.startup__name {
  border: 1px solid #727b7f;
}

.startup__name:focus {
  border-color: #3a8fb7;
}

.startup__submit {
  background: #3a8fb7;
  color: #fff;
}

.startup__submit--invalid {
  background: #727b7f;
  color: hsla(0, 100%, 100%, .3);
}
