@charset "utf-8";

/**
 * accent-color: #3a8fb7
 */

html {
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 0%);
}

body {
  color: #212121;
}

.nav__box {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.nav__link:hover {
  color: #3a8fb7;
}

.nav__link:active {
  background: #f3f3f3;
}

.board__repo-list {
  background: #fff;
  border: 1px solid #ccc;
}

.board__lang-box:not(:last-of-type) .board__link {
  border-bottom: 1px solid #fbfbfb;
}

.board__link {
  color: #212121;
}

.board__link:hover {
  color: #3a8fb7;
  background: #f4f9fc;
}

.startup__name {
  background: #fff;
  border: 1px solid #ccc;
  color: #212121;
}

.startup__name:focus {
  border-color: #3a8fb7;
}

.startup__submit,
.form__submit {
  background: #3a8fb7;
  color: #fff;
}

.startup__submit--invalid {
  background: #727b7f;
  color: hsla(0, 100%, 100%, .3);
}

.form__input,
.form__select {
  background: #fff;
  border: 1px solid #ccc;
  color: #212121;
}

.form__input:focus,
.form__select:focus {
  border-color: #3a8fb7;
}
